# Data Exploration: Federal RePORTER

Written by: Daniela Hochfellner

## Import necessary libraries

In [1]:
import pandas as pd

## Load data

In [7]:
# Specify the path for the folders where the data is present
# For Windows users:
path = "C:/Users/PC Name/"
# For Mac users - skip the path variable

In [8]:
# Read-in a CSV file
# Windows users
grants_2010 = pd.read_csv(path + 'Grants_Projects/Grants_Projects/FedRePORTER_PRJ_C_FY2010.csv')
# Mac users - uncomment this line and run the code
# grants_2010 = pd.read_csv('Grants_Projects/FedRePORTER_PRJ_C_FY2010.csv')

C:\Users\Ekaterina\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (12,20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Data glimpse

In [9]:
# We can see how many (rows, columns) there are in the dataframe by using .shape
grants_2010.shape

(111400, 24)

In [10]:
# See first 2 rows with head() function
grants_2010.head(2)

,PROJECT_ID,PROJECT_TERMS,PROJECT_TITLE,DEPARTMENT,AGENCY,IC_CENTER,PROJECT_NUMBER,PROJECT_START_DATE,PROJECT_END_DATE,CONTACT_PI_PROJECT_LEADER,...,ORGANIZATION_CITY,ORGANIZATION_STATE,ORGANIZATION_ZIP,ORGANIZATION_COUNTRY,BUDGET_START_DATE,BUDGET_END_DATE,CFDA_CODE,FY,FY_TOTAL_COST,FY_TOTAL_COST_SUB_PROJECTS
0,121219,Alloys; Arizona; base; Research; Research Per...,THIS IS A PROPOSAL FOR GROUND-BASED RESEARCH O...,NASA,NASA,NaN,NNX10AV40G,12/1/2010,11/30/2013,"POIRER, DAVID",...,TUCSON,AZ,85719-4824,UNITED STATES,NaN,NaN,43.AAA,2010,449452.00,nan
1,121220,Funding; Industry; operation; Participant; Re...,CONTINUED OPERATION OF THE AEROACOUSTICS RESEA...,NASA,NASA,NaN,NNC10ZA02A,9/30/2010,9/29/2011,"HEYWARD, ANN O",...,BROOK PARK,OH,44142-1012,UNITED STATES,NaN,NaN,00.000,2010,112500.00,nan

In [11]:
# See last 2 rows with tail() function
grants_2010.tail(2)

,PROJECT_ID,PROJECT_TERMS,PROJECT_TITLE,DEPARTMENT,AGENCY,IC_CENTER,PROJECT_NUMBER,PROJECT_START_DATE,PROJECT_END_DATE,CONTACT_PI_PROJECT_LEADER,...,ORGANIZATION_CITY,ORGANIZATION_STATE,ORGANIZATION_ZIP,ORGANIZATION_COUNTRY,BUDGET_START_DATE,BUDGET_END_DATE,CFDA_CODE,FY,FY_TOTAL_COST,FY_TOTAL_COST_SUB_PROJECTS
111398,915380,Attention; Blast Cell; executive function; mi...,FUNCTIONAL NEUROIMAGING OF ATTENTION AND EXECU...,DOD,DVBIC,NaN,DV85,10/25/2009,1/1/2013,"CHAO, WENDY",...,SILVER SPRING,MD,20910,UNITED STATES,NaN,NaN,NaN,2010,nan,nan
111399,915386,Automobile Driving; Behavioral Symptoms; Cogn...,USING A SIMULATOR TO ENHANCE COGNITIVE RECOVER...,DOD,DVBIC,NaN,DV86,10/1/2007,3/31/2011,"AMICK, MELISSA",...,SILVER SPRING,MD,20910,UNITED STATES,NaN,NaN,NaN,2010,nan,nan

In [12]:
# see the descriptive statistics of the variables
grants_2010.describe()

,PROJECT_ID,CONGRESSIONAL_DISTRICT,FY,FY_TOTAL_COST,FY_TOTAL_COST_SUB_PROJECTS
count,111400.00,104072.00,111400.00,90694.00,18474.00
mean,354577.76,11.36,2010.00,509165.57,230180.16
std,138390.39,14.71,0.00,1792130.10,439546.80
min,121219.00,0.00,2010.00,1.00,1.00
25%,295266.75,3.00,2010.00,147784.25,33424.00
50%,337986.50,7.00,2010.00,300000.00,149029.00
75%,416683.75,13.00,2010.00,444086.50,294011.25
max,915386.00,99.00,2010.00,242345898.00,18277547.00

In [13]:
# Convert scientific notation to a full float
pd.set_option('display.float_format', '{:.2f}'.format)

In [14]:
grants_2010.describe()

,PROJECT_ID,CONGRESSIONAL_DISTRICT,FY,FY_TOTAL_COST,FY_TOTAL_COST_SUB_PROJECTS
count,111400.00,104072.00,111400.00,90694.00,18474.00
mean,354577.76,11.36,2010.00,509165.57,230180.16
std,138390.39,14.71,0.00,1792130.10,439546.80
min,121219.00,0.00,2010.00,1.00,1.00
25%,295266.75,3.00,2010.00,147784.25,33424.00
50%,337986.50,7.00,2010.00,300000.00,149029.00
75%,416683.75,13.00,2010.00,444086.50,294011.25
max,915386.00,99.00,2010.00,242345898.00,18277547.00

## Columns

In [15]:
# Check the column names
# We can notice that there is a white space in front of the column names
grants_2010.columns

Index(['PROJECT_ID', ' PROJECT_TERMS', ' PROJECT_TITLE', ' DEPARTMENT',
       ' AGENCY', ' IC_CENTER', ' PROJECT_NUMBER', ' PROJECT_START_DATE',
       ' PROJECT_END_DATE', ' CONTACT_PI_PROJECT_LEADER', ' OTHER_PIS',
       ' CONGRESSIONAL_DISTRICT', ' DUNS_NUMBER', ' ORGANIZATION_NAME',
       ' ORGANIZATION_CITY', ' ORGANIZATION_STATE', ' ORGANIZATION_ZIP',
       ' ORGANIZATION_COUNTRY', ' BUDGET_START_DATE', ' BUDGET_END_DATE',
       ' CFDA_CODE', ' FY', ' FY_TOTAL_COST', ' FY_TOTAL_COST_SUB_PROJECTS'],
      dtype='object')

In [16]:
# We can remove the white space at the beginning with "skipinitialspace=True" argument
# Read-in a CSV file
# Windows users
grants_2010 = pd.read_csv(path + 'Grants_Projects/Grants_Projects/FedRePORTER_PRJ_C_FY2010.csv', skipinitialspace=True)
# Mac users - uncomment this line and run the code
# grants_2010 = pd.read_csv('Grants_Projects/FedRePORTER_PRJ_C_FY2010.csv')

C:\Users\Ekaterina\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (12,20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [17]:
# Check the column names
# Now the white space at the beginning of the column names is removed
grants_2010.columns

Index(['PROJECT_ID', 'PROJECT_TERMS', 'PROJECT_TITLE', 'DEPARTMENT', 'AGENCY',
       'IC_CENTER', 'PROJECT_NUMBER', 'PROJECT_START_DATE', 'PROJECT_END_DATE',
       'CONTACT_PI_PROJECT_LEADER', 'OTHER_PIS', 'CONGRESSIONAL_DISTRICT',
       'DUNS_NUMBER', 'ORGANIZATION_NAME', 'ORGANIZATION_CITY',
       'ORGANIZATION_STATE', 'ORGANIZATION_ZIP', 'ORGANIZATION_COUNTRY',
       'BUDGET_START_DATE', 'BUDGET_END_DATE', 'CFDA_CODE', 'FY',
       'FY_TOTAL_COST', 'FY_TOTAL_COST_SUB_PROJECTS'],
      dtype='object')

In [18]:
# find out how many different agencies are there in the data
grants_2010['AGENCY'].unique()

array(['NASA', 'NSF', 'EPA', 'NIH', 'CNRM', 'AHRQ', 'FDA', 'CDMRP', 'VA',
       'ALLCDC', 'NIFA', 'ARS', 'NIDILRR', 'CCCRP', 'DVBIC'], dtype=object)

In [19]:
# calculate how many grants (unique project ids) each agency funded
# step1: in the groupby() method, we pass the column we want to group by
# step2: use the nunique() method to count the number of unique values (in this case, number of unique project ids for each agency)
# step3: sort the results in descending order (set the ascending parameter to False)

grants_2010_agency = grants_2010.groupby('AGENCY')['PROJECT_ID'].nunique().sort_values(ascending=False)
grants_2010_agency.head()

AGENCY
NIH       85791
NSF       13632
ALLCDC     4521
NIFA       3325
NASA       1903
Name: PROJECT_ID, dtype: int64

## Subsetting

In [20]:
# Select only specific columns - we would use double brackets for that
grants_2010_subset = grants_2010[['PROJECT_ID','FY_TOTAL_COST','PROJECT_TITLE','AGENCY']]
grants_2010_subset.head()

,PROJECT_ID,FY_TOTAL_COST,PROJECT_TITLE,AGENCY
0,121219,449452.00,THIS IS A PROPOSAL FOR GROUND-BASED RESEARCH O...,NASA
1,121220,112500.00,CONTINUED OPERATION OF THE AEROACOUSTICS RESEA...,NASA
2,121221,546153.00,GRAVITATIONAL-WAVE ASTRONOMY WITH BINARY COMPA...,NSF
3,121222,78594.00,INFLUENCE OF THE INDONESIAN THROUGHFLOW IN THE...,NSF
4,121223,16883.00,US-MEXICO WORKSHOP ON INTERACTIVE AND UBIQUITO...,NSF

Note: Another way to do this is to only read-in necessary columns when loading the data: 
`grants_2010 = pd.read_csv(path + 'Grants/Projects/FedRePORTER_PRJ_C_FY2010.csv', skipinitialspace=True, usecols=['PROJECT_ID', 'FY_TOTAL_COST','PROJECT_TITLE','AGENCY'])`

In [21]:
# Select only projects with above 50,000 in cost
grants_2010_subset_above_50000 = grants_2010_subset[grants_2010_subset['FY_TOTAL_COST'] >= 50000]
grants_2010_subset_above_50000.head()

,PROJECT_ID,FY_TOTAL_COST,PROJECT_TITLE,AGENCY
0,121219,449452.00,THIS IS A PROPOSAL FOR GROUND-BASED RESEARCH O...,NASA
1,121220,112500.00,CONTINUED OPERATION OF THE AEROACOUSTICS RESEA...,NASA
2,121221,546153.00,GRAVITATIONAL-WAVE ASTRONOMY WITH BINARY COMPA...,NSF
3,121222,78594.00,INFLUENCE OF THE INDONESIAN THROUGHFLOW IN THE...,NSF
5,121224,162314.00,CAREER: COLLABORATIVE COMMUNICATION AND STORAG...,NSF

In [22]:
# Select specific agencies - e.g. NIH, NSF using .isin() function
grants_2010_subset_above_50000[grants_2010_subset_above_50000['AGENCY'].isin(['NIH', 'NSF'])].head()

,PROJECT_ID,FY_TOTAL_COST,PROJECT_TITLE,AGENCY
2,121221,546153.00,GRAVITATIONAL-WAVE ASTRONOMY WITH BINARY COMPA...,NSF
3,121222,78594.00,INFLUENCE OF THE INDONESIAN THROUGHFLOW IN THE...,NSF
5,121224,162314.00,CAREER: COLLABORATIVE COMMUNICATION AND STORAG...,NSF
6,121225,272164.00,SHF:SM: A TIME-PREDICTABLE MULTICORE/MANYCORE ...,NSF
7,121226,1151411.00,"COLLABORATIVE RESEARCH: EFFECTS OF LAND-USE, P...",NSF

In [23]:
# Select only those grants that have "ASTRONOMY" in their titles with str.contains() function
grants_2010_subset_above_50000[grants_2010_subset_above_50000['PROJECT_TITLE'].str.contains('ASTRONOMY')].head()

,PROJECT_ID,FY_TOTAL_COST,PROJECT_TITLE,AGENCY
2,121221,546153.00,GRAVITATIONAL-WAVE ASTRONOMY WITH BINARY COMPA...,NSF
104,121323,434212.00,REU SITE: COLLABORATIVE REU IN ASTRONOMY IN FL...,NSF
450,121669,180000.00,THE SPACE PHYSICS LABORATORY OF THE SCHOOL OF ...,NASA
570,121789,50166.00,THE SPACE PHYSICS LABORATORY OF THE SCHOOL OF ...,NASA
815,122034,361268.00,THE DEPARTMENT OF ASTRONOMY OF THE UNIVERSITY ...,NASA

In [24]:
# Selecting with multiple conditions using &
grants_2010_subset_above_50000[(grants_2010_subset_above_50000['AGENCY'] == 'NASA') & 
                               (grants_2010_subset_above_50000['PROJECT_TITLE'].str.contains('ASTRONOMY'))].head()

,PROJECT_ID,FY_TOTAL_COST,PROJECT_TITLE,AGENCY
450,121669,180000.00,THE SPACE PHYSICS LABORATORY OF THE SCHOOL OF ...,NASA
570,121789,50166.00,THE SPACE PHYSICS LABORATORY OF THE SCHOOL OF ...,NASA
815,122034,361268.00,THE DEPARTMENT OF ASTRONOMY OF THE UNIVERSITY ...,NASA
6196,127415,500000.00,THE GOAL OF THIS PROPOSAL IS TO CREATE A LABOR...,NASA
7522,128741,200000.00,NORTHERN KENTUCKY UNIVERSITY HAS RECEIVED TWO ...,NASA

## Data types

In [25]:
# Check data types - whether a column is an integer (e.g. 10), object (e.g. strings or mixed: numeric and non-numeric),
# or a float (e.g. 10.5)
grants_2010.dtypes

PROJECT_ID                      int64
PROJECT_TERMS                  object
PROJECT_TITLE                  object
DEPARTMENT                     object
AGENCY                         object
IC_CENTER                      object
PROJECT_NUMBER                 object
PROJECT_START_DATE             object
PROJECT_END_DATE               object
CONTACT_PI_PROJECT_LEADER      object
OTHER_PIS                      object
CONGRESSIONAL_DISTRICT        float64
DUNS_NUMBER                    object
ORGANIZATION_NAME              object
ORGANIZATION_CITY              object
ORGANIZATION_STATE             object
ORGANIZATION_ZIP               object
ORGANIZATION_COUNTRY           object
BUDGET_START_DATE              object
BUDGET_END_DATE                object
CFDA_CODE                      object
FY                              int64
FY_TOTAL_COST                 float64
FY_TOTAL_COST_SUB_PROJECTS    float64
dtype: object

It would be useful for us to change the columns with dates (e.g. `PROJECT_START_DATE`) to a `datetime` object, so we can calculate the duration of a project.

In [26]:
# Change our date variable to the correct type
grants_2010['PROJECT_START_DATE'] = pd.to_datetime(grants_2010['PROJECT_START_DATE'])
grants_2010['PROJECT_END_DATE'] = pd.to_datetime(grants_2010['PROJECT_END_DATE'])

In [27]:
grants_2010.dtypes

PROJECT_ID                             int64
PROJECT_TERMS                         object
PROJECT_TITLE                         object
DEPARTMENT                            object
AGENCY                                object
IC_CENTER                             object
PROJECT_NUMBER                        object
PROJECT_START_DATE            datetime64[ns]
PROJECT_END_DATE              datetime64[ns]
CONTACT_PI_PROJECT_LEADER             object
OTHER_PIS                             object
CONGRESSIONAL_DISTRICT               float64
DUNS_NUMBER                           object
ORGANIZATION_NAME                     object
ORGANIZATION_CITY                     object
ORGANIZATION_STATE                    object
ORGANIZATION_ZIP                      object
ORGANIZATION_COUNTRY                  object
BUDGET_START_DATE                     object
BUDGET_END_DATE                       object
CFDA_CODE                             object
FY                                     int64
FY_TOTAL_COST                        float64
FY_TOTAL_COST_SUB_PROJECTS           float64
dtype: object

We are now able to calculate the duration of a project:

In [28]:
# Create a new column with the duration of a project: project_end_date minus project_start_date
grants_2010['Duration'] = grants_2010['PROJECT_END_DATE'] - grants_2010['PROJECT_START_DATE']

In [29]:
# The results in the newly created "duration" column look right
grants_2010[['PROJECT_ID', 'PROJECT_START_DATE','PROJECT_END_DATE','Duration']]

        PROJECT_ID PROJECT_START_DATE PROJECT_END_DATE  Duration
0           121219         2010-12-01       2013-11-30 1095 days
1           121220         2010-09-30       2011-09-29  364 days
2           121221         2010-11-01       2013-10-31 1095 days
3           121222         2010-10-01       2012-09-30  730 days
4           121223         2010-11-01       2011-10-31  364 days
...            ...                ...              ...       ...
111395      915368         2010-01-01       2012-01-01  730 days
111396      915372         2009-01-01       2011-01-01  730 days
111397      915375         2009-01-01       2014-01-01 1826 days
111398      915380         2009-10-25       2013-01-01 1164 days
111399      915386         2007-10-01       2011-03-31 1277 days

[111400 rows x 4 columns]

### Merging Dataframes

We have a common project identifier (`PROJECT_ID`) in two data sources: grant data in the `projects` folder and related grant abstracts in the `abstracts` folder.

We will merge two files based on `PROJECT_ID`, to find grant abstracts for the 2010 Federal RePORTER file from the `projects` folder.

In [30]:
# Load a 2010 Federal RePORTER file with abstracts - specify path name to the "abstracts" folder 
abstracts_2010 = pd.read_csv(path + "Grants_Abstracts/Grants_Abstracts/FedRePORTER_PRJABS_C_FY2010.csv")
# abstracts_2010 = pd.read_csv("Grants_Abstracts/FedRePORTER_PRJABS_C_FY2010.csv")

In [31]:
# Merge the original file "df" with "abstracts" dataframe on a common identifier: "project_id"
# how='inner' means use the intersection of the same project ids between the two files

grants_2010_abstracts = pd.merge(grants_2010, abstracts_2010, on="PROJECT_ID", how='inner')
grants_2010_abstracts.head(1)

,PROJECT_ID,PROJECT_TERMS,PROJECT_TITLE,DEPARTMENT,AGENCY,IC_CENTER,PROJECT_NUMBER,PROJECT_START_DATE,PROJECT_END_DATE,CONTACT_PI_PROJECT_LEADER,...,ORGANIZATION_ZIP,ORGANIZATION_COUNTRY,BUDGET_START_DATE,BUDGET_END_DATE,CFDA_CODE,FY,FY_TOTAL_COST,FY_TOTAL_COST_SUB_PROJECTS,Duration,ABSTRACT
0,121219,Alloys; Arizona; base; Research; Research Per...,THIS IS A PROPOSAL FOR GROUND-BASED RESEARCH O...,NASA,NASA,NaN,NNX10AV40G,2010-12-01,2013-11-30,"POIRER, DAVID",...,85719-4824,UNITED STATES,NaN,NaN,43.AAA,2010,449452.00,nan,1095 days,This is a proposal for ground-based research o...

In [32]:
# Check how many projects have abstracts in the merged dataframe
grants_2010_abstracts['PROJECT_ID'].nunique()

107326

In [33]:
# Check how many project_ids there were in the original file
grants_2010['PROJECT_ID'].nunique()

111400

In [34]:
# This is how many of them had abstracts in the "abstracts" file - the same number as in our "merged_df" dataframe
abstracts_2010['PROJECT_ID'].nunique()

107326

### Saving a CSV
You can save a copy of your dataframe as a .csv file.

In [35]:
# This is how you can check what is your current folder
! pwd

/c/Users/Ekaterina

In [36]:
# You can specify in which folder you would like to save your results
# For example, you can save it in the folder as seen above
grants_2010_abstracts.to_csv("example_data.csv", encoding='utf8')

# Checkpoint (Assignment 2 (part one), due February 22nd)
You can submit either Assignment 2 (part one) Federal Reporter notebook or Assignment 2 (part two) PatentsView notebook - choose one.
### 1. How much money was spent in your field of interest (over a certain period of time of your interest)?
### 2. Who are top five PIs and institutions in your field of interest?

Hint: filter the grants by abstracts using the relevant keywords for your project.

# Useful Tips

#### Load multiple years of data

If we are interested in loading FedRePORTER files from 2010 to 2014, we can create a list with those values and use for loop as well:

In [37]:
years = [2010, 2011, 2012, 2013, 2014]

for year in years:  # for each year in a list
    print(year)  # print that year

2010
2011
2012
2013
2014

In [38]:
# We can loop through each file with specific year the following way:

years = [2010, 2011, 2012, 2013, 2014]

for year in years:
    print(path + 'Grants_Projects/Grants_Projects/FedRePORTER_PRJ_C_FY' + str(year) + '.csv') # add year as a string
    # Mac users: print('Grants_Projects/FedRePORTER_PRJ_C_FY' + str(year) + '.csv')

C:/Users/Ekaterina/Grants_Projects/Grants_Projects/FedRePORTER_PRJ_C_FY2010.csv
C:/Users/Ekaterina/Grants_Projects/Grants_Projects/FedRePORTER_PRJ_C_FY2011.csv
C:/Users/Ekaterina/Grants_Projects/Grants_Projects/FedRePORTER_PRJ_C_FY2012.csv
C:/Users/Ekaterina/Grants_Projects/Grants_Projects/FedRePORTER_PRJ_C_FY2013.csv
C:/Users/Ekaterina/Grants_Projects/Grants_Projects/FedRePORTER_PRJ_C_FY2014.csv

In [39]:
grants_2010_2014 = []

# Now loop through each file in the folder
for year in years:
    grant = pd.read_csv(path + 'Grants_Projects/Grants_Projects/FedRePORTER_PRJ_C_FY' + str(year) + '.csv', low_memory=False)  # read-in a given file into a dataframe
    # Mac users: grant = pd.read_csv('Grants_Projects/FedRePORTER_PRJ_C_FY' + str(year) + '.csv', low_memory=False) 
    grants_2010_2014.append(grant)  # append that dataframe to a list

# Concatenate all the dataframes together into one dataframe
grants_2010_2014_df = pd.concat(grants_2010_2014)

In [40]:
# Check the total number of rows in a concatenated dataframe
len(grants_2010_2014_df)

485577