# Data Exploration: Patents

Written by: Daniela Hochfellner

The patent files in the class folder were downloaded from PatentsView (https://www.patentsview.org/).

We will start by exploring `patents_2018.csv` file.

#### Load the dataset "patents_2018" that is located in the data folder under patents in our shared drive and find out the number of rows and columns in the dataset.

In [1]:
# Import necessary libraries
import pandas as pd

In [2]:
# Specify the path for the folders where the data is present
# For Windows users:
path = "C:/Users/PC Name/"
# For Mac users - skip the path variable

In [3]:
# Specify a path and read it in
# Windows users
patents_2018 = pd.read_csv(path + 'Patents/Patents/patents_2018.csv')
# Mac users - uncomment this line and run the code
# patents_2018 = pd.read_csv('Patents/patents_2018.csv')

In [4]:
# Check the number of rows and columns in the file
patents_2018.shape

(134810, 17)

In [5]:
# Check the available column names
patents_2018.columns

Index(['patent_number', 'patent_title', 'patent_abstract',
       'patent_num_cited_by_us_patents', 'patent_date', 'app_date',
       'patent_firstnamed_inventor_name_first',
       'patent_firstnamed_inventor_name_last',
       'patent_firstnamed_inventor_city', 'patent_firstnamed_inventor_state',
       'patent_firstnamed_inventor_latitude',
       'patent_firstnamed_inventor_longitude',
       'patent_firstnamed_assignee_organization',
       'patent_firstnamed_assignee_city', 'patent_firstnamed_assignee_state',
       'patent_firstnamed_assignee_latitude',
       'patent_firstnamed_assignee_longitude'],
      dtype='object')

#### Select the first 50 rows of the "patents_2018" sorted by patent number and display them.

In [6]:
# Use .sort_values() function to sort by 'patent_number' (question: by highest or by lowest first? By defaut it sorts by lowest first.
# if we want to sort by highest first, we need to specify .sort_values('patent_number', ascending=False))
# .head(50) function returns first 50 rows of the sorted dataframe
# .reset_index() function resets the index so it starts from 0 (because we sorted the dataframe, the indices are ordered as in the previous dataframe)

patents_2018_sorted = patents_2018.sort_values('patent_number').head(50).reset_index()

# View the first rows of the sorted dataframe
patents_2018_sorted.head()

,index,patent_number,patent_title,patent_abstract,patent_num_cited_by_us_patents,patent_date,app_date,patent_firstnamed_inventor_name_first,patent_firstnamed_inventor_name_last,patent_firstnamed_inventor_city,patent_firstnamed_inventor_state,patent_firstnamed_inventor_latitude,patent_firstnamed_inventor_longitude,patent_firstnamed_assignee_organization,patent_firstnamed_assignee_city,patent_firstnamed_assignee_state,patent_firstnamed_assignee_latitude,patent_firstnamed_assignee_longitude
0,50080,10000000,Coherent LADAR using intra-pixel quadrature de...,A frequency modulated (coherent) laser detecti...,0,2018-06-19,2015-03-10,Joseph C.,Marron,Manhattan Beach,CA,33.8847,-118.4100,Raytheon Company,Waltham,MA,42.3764,-71.2361
1,78859,10000007,PEX expanding tool,An expanding tool comprising: an actuator comp...,0,2018-06-19,2016-06-10,Corey J.,Dickert,Brookfield,WI,43.0606,-88.1064,Milwaukee Electric Tool Corporation,Brookfield,WI,43.0606,-88.1064
2,122467,10000008,Bracelet mold and method of use,"A decorated strip of coated, heat-shrinkable, ...",0,2018-06-19,2014-12-01,Liah,Caspi,Closter,NJ,40.9731,-73.9619,"Alex Toys, LLC",Northvale,NJ,41.0064,-73.9494
3,27828,10000010,3-D electrostatic printer using rack and pinio...,3-D printing system include development statio...,0,2018-06-19,2016-06-29,Roberto A.,Irizarry,Rochester,NY,43.1547,-77.6158,Xerox Corporation,Norwalk,CT,41.1175,-73.4083
4,118182,10000011,Supports for sintering additively manufactured...,To reduce distortion in an additively manufact...,0,2018-06-19,2017-10-02,Gregory Thomas,Mark,Cambridge,MA,42.3750,-71.1061,"MARKFORGED, INC.",Watertown,MA,42.3708,-71.1833

#### How many unique first named inventors are in the file? A name in this case is a full name consisting of first and last name.

In [7]:
# Create a new column with the full name: concatenate first and last name
patents_2018['inventor_full_name'] = patents_2018['patent_firstnamed_inventor_name_first'] + ' ' + patents_2018['patent_firstnamed_inventor_name_last']

In [8]:
# View the first rows of the dataframe
patents_2018.head(2)

,patent_number,patent_title,patent_abstract,patent_num_cited_by_us_patents,patent_date,app_date,patent_firstnamed_inventor_name_first,patent_firstnamed_inventor_name_last,patent_firstnamed_inventor_city,patent_firstnamed_inventor_state,patent_firstnamed_inventor_latitude,patent_firstnamed_inventor_longitude,patent_firstnamed_assignee_organization,patent_firstnamed_assignee_city,patent_firstnamed_assignee_state,patent_firstnamed_assignee_latitude,patent_firstnamed_assignee_longitude,inventor_full_name
0,9854722,Tool bar mounting assembly for an agricultural...,A tool bar mounting assembly for an agricultur...,1,2018-01-02,2015-05-04,Timothy R.,Blunier,Danvers,IL,40.5294,-89.1772,CNH Industrial America LLC,New Holland,PA,40.1017,-76.0856,Timothy R. Blunier
1,9918424,Method for controlling wing tool bars of an ag...,A method for lifting wing tool bars of an agri...,0,2018-03-20,2014-09-09,Timothy R.,Blunier,Danvers,IL,40.5294,-89.1772,CNH Industrial America LLC,New Holland,PA,40.1017,-76.0856,Timothy R. Blunier

In [9]:
# Check the number of unique full names of inventors
patents_2018['inventor_full_name'].nunique()

80190

### Record Linkage exercise

How many variations of the same institution name can there be in patent data?

Let's check an example for the University of Alabama:

In [10]:
# It is a good practice to first normalize the text by lowercasing it with str.lower() function
patents_2018['assignee_lowercase'] = patents_2018['patent_firstnamed_assignee_organization'].str.lower()

Use `str.contains()` function to subset by "university of alabama":

In [11]:
# Save the result to a new dataframe called "patents_2018_subset"
# Note: if you get an error: "cannot index with vector containing NA / NaN values", this means that for some patents
# the assignee organization name is missing - you can use in this case "na=False" in str.contains() function

patents_2018_subset = patents_2018[patents_2018['assignee_lowercase'].str.contains('university of alabama', na=False)]

In [12]:
# unique() function helps to check the unique values 
# We have several variations of the University of Alabama name
patents_2018_subset['assignee_lowercase'].unique()

array(['the board of trustees of the university of alabama',
       'university of alabama in huntsville', 'the university of alabama'],
      dtype=object)

When doing the record linkage, keep in mind that for your organization of interest, there could be multiple name variations in the administrative records.

**Record linkage practice**
- **create individual-level links**: inventor (patent) <-> principal investigator (grant)
- **create organization-level links**: assignee (patent) <-> organization (grant)

We will show an example of linking on an individual's name and location (and you can repeat the same process for organizations).

Patent data:

- **Inventor** (the individual who conceived the invention)
    - First name
    - Last name
    - Gender
    - Location (City, State, Country, Latitude, Longitude, County, FIPS code (state), FIPS code (county))
    - Co-inventor (a person who appears on the same patent or patent application as
    another inventor)
    
    
- **Assignee** (the name of the entity—company, foundation, partnership, holding company
or individual—that owns the patent)
    - First name (if assignee is individual)
    - Last name (if assignee is individual)
    - Organization name (if assignee is organization)
    - Location (City, State, Country, Latitude, Longitude, County, FIPS code (state), FIPS code (county))

Grant (Federal RePORTER) data:
    
- **Principal Investigator (PI) Project Leader**
    - First name
    - Last name
- **Other PIs**
    - First name
    - Last name
- **Organization name**
- **Organization location** (City, State, Zip, Country)

In [13]:
# Include only those columns with inventors that we need 
patents_2018_inventor = patents_2018[['patent_number','patent_firstnamed_inventor_name_first',
       'patent_firstnamed_inventor_name_last',
       'patent_firstnamed_inventor_city', 'patent_firstnamed_inventor_state']]

In [14]:
# Rename columns to include shorter names
patents_2018_inventor = patents_2018_inventor.rename(columns={'patent_firstnamed_inventor_name_first': 'name_first',
                                                           'patent_firstnamed_inventor_name_last': 'name_last'})

How are names formatted in patent and grant data?

In [15]:
patents_2018_inventor.tail()

,patent_number,name_first,name_last,patent_firstnamed_inventor_city,patent_firstnamed_inventor_state
134805,PP29970,Robert,"Dupont, Sr.",Plaquemine,LA
134806,PP30017,Robert Harold,Head,Seneca,SC
134807,RE47155,Gary C.,Troyer,Shreve,OH
134808,RE47158,Rainer M.,Schmitt,Palm Beach Gardens,FL
134809,RE47167,Sandeep,Natarajan,Portland,OR

Patents:
- First name, last name, and city name are capitalized
- First names include middle name
- Some middle names are fully spelled out and some are not

We will try to match these individuals to grants data from 2015.

We take grants from 2015, in order to account for a time lag between the start of a grant and potential outputs (registered patents) from a grant.
You can try using different thresholds (3 or 5 years after the grant) and compare the results.

In [16]:
# Add "projects" at the beginning of the path to a file
# Windows users
grants_2015 = pd.read_csv(path + "Grants_Projects/Grants_Projects/FedRePORTER_PRJ_C_FY2015.csv", skipinitialspace=True, low_memory=False)
# Mac users
# grants_2015 = pd.read_csv("Grants_Projects/FedRePORTER_PRJ_C_FY2015.csv", skipinitialspace=True, low_memory=False)

In [17]:
# Check the column names
grants_2015.columns

Index(['PROJECT_ID', 'PROJECT_TERMS', 'PROJECT_TITLE', 'DEPARTMENT', 'AGENCY',
       'IC_CENTER', 'PROJECT_NUMBER', 'PROJECT_START_DATE', 'PROJECT_END_DATE',
       'CONTACT_PI_PROJECT_LEADER', 'OTHER_PIS', 'CONGRESSIONAL_DISTRICT',
       'DUNS_NUMBER', 'ORGANIZATION_NAME', 'ORGANIZATION_CITY',
       'ORGANIZATION_STATE', 'ORGANIZATION_ZIP', 'ORGANIZATION_COUNTRY',
       'BUDGET_START_DATE', 'BUDGET_END_DATE', 'CFDA_CODE', 'FY',
       'FY_TOTAL_COST', 'FY_TOTAL_COST_SUB_PROJECTS'],
      dtype='object')

In [18]:
# Include only the column names that we need for a match on an individual level
grants_2015_linkage = grants_2015[['PROJECT_ID','CONTACT_PI_PROJECT_LEADER','OTHER_PIS','ORGANIZATION_CITY',
       'ORGANIZATION_STATE', 'ORGANIZATION_COUNTRY']]

Let's check which countries are there in the dataset.

In [19]:
grants_2015_linkage['ORGANIZATION_COUNTRY'].unique()

array([nan, 'UNITED STATES', 'UGANDA', 'CANADA', 'ETHIOPIA', 'VIETNAM',
       'MALI', 'CONGO', 'TANZANIA U REP', 'MALAWI', "COTE D'IVOIRE",
       'HONG KONG', 'UKRAINE', 'ZAMBIA', 'KENYA', 'GUYANA', 'NAMIBIA',
       'GHANA', 'ZIMBABWE', 'SWITZERLAND', 'INDIA', 'SOUTH AFRICA',
       'AUSTRALIA', 'BELGIUM', 'THAILAND', 'HAITI', 'PERU', 'BRAZIL',
       'BOTSWANA', 'ISRAEL', 'UNITED KINGDOM', 'CHINA', 'FRANCE',
       'ICELAND', 'SRI LANKA', 'ARGENTINA', 'PAKISTAN', 'MEXICO',
       'COLOMBIA', 'LEBANON', 'NIGERIA', 'CAMEROON', 'MOZAMBIQUE',
       'TRINIDAD/TOBA', 'SPAIN', 'NICARAGUA', 'PORTUGAL', 'MALAYSIA',
       'SWEDEN', 'FINLAND', 'DENMARK', 'CAMBODIA', 'FED MICRONESIA',
       'RUSSIA', 'AUSTRIA', 'MOROCCO', 'AFGHANISTAN', 'BANGLADESH',
       'CONGO DEM REP', 'ARMENIA', 'RWANDA', 'GEORGIA', 'GERMANY',
       'PHILIPPINES', 'NEW ZEALAND', 'SURINAME', 'GUATEMALA', 'BENIN',
       'TUNISIA', 'EGYPT', 'MADAGASCAR', 'PARAGUAY', 'NEPAL', 'BHUTAN',
       'MALDIVES', 'KAZAKHSTAN', 'ALBANIA', 'MOLDOVA', 'PANAMA',
       'NETHERLANDS', 'ITALY', 'MONGOLIA', 'TAJIKISTAN', 'KYRGYZSTAN',
       'LESOTHO', 'EL SALVADOR', 'DOMINICAN REP', 'SWAZILAND', 'SENEGAL',
       'INDONESIA', 'UZBEKISTAN', 'BARBADOS', 'BAHAMAS', 'GUINEA', 'TOGO',
       'NORWAY', 'JORDAN', 'NEW CALEDONIA', 'BERMUDA', 'TAIWAN', 'JAPAN',
       'SINGAPORE', 'KOREA REP OF', 'URUGUAY', '\tUNITED STATES', 'CHILE',
       'SEYCHELLES'], dtype=object)

Because our patent file is already filtered by United States, we will do the same for the grants data.

In [20]:
grants_2015_linkage = grants_2015_linkage[grants_2015_linkage['ORGANIZATION_COUNTRY'] == 'UNITED STATES']

In [21]:
# Check that there is only United States now in the dataframe
# .unique() checks for unique values
grants_2015_linkage['ORGANIZATION_COUNTRY'].unique()

array(['UNITED STATES'], dtype=object)

**Compare inventor and grants table: what types of cleaning/standardization would we need to do?**

In [22]:
patents_2018_inventor.tail()

,patent_number,name_first,name_last,patent_firstnamed_inventor_city,patent_firstnamed_inventor_state
134805,PP29970,Robert,"Dupont, Sr.",Plaquemine,LA
134806,PP30017,Robert Harold,Head,Seneca,SC
134807,RE47155,Gary C.,Troyer,Shreve,OH
134808,RE47158,Rainer M.,Schmitt,Palm Beach Gardens,FL
134809,RE47167,Sandeep,Natarajan,Portland,OR

In [23]:
grants_2015_linkage.head()

,PROJECT_ID,CONTACT_PI_PROJECT_LEADER,OTHER_PIS,ORGANIZATION_CITY,ORGANIZATION_STATE,ORGANIZATION_COUNTRY
1,725476,"DOWLING, PETER C",NaN,EAST ORANGE,NJ,UNITED STATES
2,725477,"BEAUPRE, GARY,",NaN,PALO ALTO,CA,UNITED STATES
3,725478,"SHAHIDI, MAHNAZ",NaN,CHICAGO,IL,UNITED STATES
4,725479,"AKIN, FAITH WURM",NaN,MOUNTAIN HOME,TN,UNITED STATES
5,725480,"BORST, STEPHEN E.",NaN,GAINESVILLE,FL,UNITED STATES

## The Importance of Pre-Processing
Data pre-processing is an important step in a data anlysis project in general, in record linkage applications in particular. The goal of pre-processing is to transform messy data into a dataset that can be used in a project workflow.

Linking records from different data sources comes with different challenges that need to be addressed by the analyst. The analyst must determine whether or not two entities (individuals, businesses, geographical units) on two different files are the same. This determination is not always easy. In most of the cases there is no common uniquely identifing characteristic for a entity. For example, is Bob Miller from New York the same person as Bob Miller from Chicago in a given dataset? This determination has to be executed carefully because consequences of wrong linkages may be substantial (is person X the same person as the person X on the list of identified terrorists). Pre-processing can help to make better informed decisions.

Pre-processing can be difficult because there are a lot of things to keep in mind. For example, data input errors, such as typos, misspellings, truncation, abbreviations, and missing values need to be corrected. Literature shows that preprocessing can improve matches. 

“In situations of reasonably high-quality data, preprocessing can yield a greater improvement in matching efficiency than string comparators and ‘optimized’ parameters. In some situations, 90% of the improvement in matching efficiency may be due to preprocessing”. (Winkler 2009).

The most common reason why matching projects fail is lack of time and resources for data cleaning. 

In the following section we will walk you through some pre-processing steps, these include but are not limited to removing spaces, parsing fields, and standardizing strings.

#### Clean Inventor Data
We will start by cleaning and preprocessing the inventor data. We need to remove whitespaces, make sure that everything is in lower case, we need to parse the first name and middle name, and harmonize all the other information we need for the linkage.

The `recordlinkage` package comes with a built-in cleaning function we can use.

The enviroment has the most commonly used packages installed so you are able to directly import them. Other packages might not be installed so we need to install them before we can import them. In this notebook we will be using the `recordlinkage` package which is not pre-installed. We can use the pip install command to install the package. On your home computer you only have to do this once. As our environment is only active for the current session we have to do this every time we open the binder.

In [28]:
# Install recordlinkage package
%pip install recordlinkage

Collecting recordlinkage
  Using cached recordlinkage-0.14-py3-none-any.whl (944 kB)
Requirement already satisfied: scikit-learn>=0.19.0 in c:\users\ekaterina\anaconda3\lib\site-packages (from recordlinkage) (0.23.2)
Requirement already satisfied: pandas>=0.23 in c:\users\ekaterina\anaconda3\lib\site-packages (from recordlinkage) (1.1.3)
Requirement already satisfied: scipy>=1 in c:\users\ekaterina\anaconda3\lib\site-packages (from recordlinkage) (1.5.2)
Requirement already satisfied: joblib in c:\users\ekaterina\anaconda3\lib\site-packages (from recordlinkage) (0.17.0)
Collecting jellyfish>=0.5.4
  Downloading jellyfish-0.9.0-cp38-cp38-win_amd64.whl (26 kB)
Requirement already satisfied: numpy>=1.13.0 in c:\users\ekaterina\anaconda3\lib\site-packages (from recordlinkage) (1.19.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ekaterina\anaconda3\lib\site-packages (from scikit-learn>=0.19.0->recordlinkage) (2.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\ekaterina\anaconda3\lib\site-packages (from pandas>=0.23->recordlinkage) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\ekaterina\anaconda3\lib\site-packages (from pandas>=0.23->recordlinkage) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\ekaterina\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->recordlinkage) (1.15.0)
Installing collected packages: jellyfish, recordlinkage
Successfully installed jellyfish-0.9.0 recordlinkage-0.14
Note: you may need to restart the kernel to use updated packages.

In [24]:
# We now can import the needed functions from the "recordlinkage" package
from recordlinkage.preprocessing import clean, phonetic

The `clean()` function removes any characters such as `-`, `.`, `/`, `:`, brackets of all types, and also lowercases by default.

In [25]:
# Cleaning names (using the record linkage package tool)
patents_2018_inventor['name_last'] = clean(patents_2018_inventor['name_last'])
patents_2018_inventor['name_first'] = clean(patents_2018_inventor['name_first'])

In [26]:
# Let's take a look at names after the cleaning
patents_2018_inventor.tail()

,patent_number,name_first,name_last,patent_firstnamed_inventor_city,patent_firstnamed_inventor_state
134805,PP29970,robert,dupont sr,Plaquemine,LA
134806,PP30017,robert harold,head,Seneca,SC
134807,RE47155,gary c,troyer,Shreve,OH
134808,RE47158,rainer m,schmitt,Palm Beach Gardens,FL
134809,RE47167,sandeep,natarajan,Portland,OR

We can parse and extract middle names.

In [27]:
# Split by white space and extract first element for the first name,
# second element for the middle name
patents_2018_inventor['name_middle'] = patents_2018_inventor['name_first'].str.split(' ').str.get(1)
patents_2018_inventor['name_first'] = patents_2018_inventor['name_first'].str.split(' ').str.get(0)

In [28]:
patents_2018_inventor[['name_first','name_middle','name_last']].tail()

       name_first name_middle  name_last
134805     robert         NaN  dupont sr
134806     robert      harold       head
134807       gary           c     troyer
134808     rainer           m    schmitt
134809    sandeep         NaN  natarajan

Now we are done with the inital data prep work for the inventor file. Please keep in mind that we just provided some examples for you to demonstrate the process. You can add as many further steps to it as necessary.

#### Clean Grant Data
Now we will clean and preprocess the grants data. We need a dataset that has the first, middle and last name of the researcher, the city, state, and country information.

Here you can start cleaning the data and extract the information that we need to compare it to the inventor file. You want to find as many variables as you can match to as possible. You can also see that we have two field with names. You have the PI field, but you can extract more names from the OTHER PIs fields if you are interested.

In [29]:
grants_2015_linkage.columns

Index(['PROJECT_ID', 'CONTACT_PI_PROJECT_LEADER', 'OTHER_PIS',
       'ORGANIZATION_CITY', 'ORGANIZATION_STATE', 'ORGANIZATION_COUNTRY'],
      dtype='object')

In [30]:
# We will focus on cleaning the name of the main PI
grants_2015_linkage['CONTACT_PI_PROJECT_LEADER'] = clean(grants_2015_linkage['CONTACT_PI_PROJECT_LEADER'])

In [31]:
# Parse out the first, middle, and last name from the full name
grants_2015_linkage['name_first'] = grants_2015_linkage['CONTACT_PI_PROJECT_LEADER'].str.split(' ').str.get(1)
grants_2015_linkage['name_last'] = grants_2015_linkage['CONTACT_PI_PROJECT_LEADER'].str.split(' ').str.get(0)
grants_2015_linkage['name_middle'] = grants_2015_linkage['CONTACT_PI_PROJECT_LEADER'].str.split(' ').str.get(2)

In [32]:
grants_2015_linkage[['CONTACT_PI_PROJECT_LEADER','name_first','name_middle','name_last']].head()

  CONTACT_PI_PROJECT_LEADER name_first name_middle name_last
1           dowling peter c      peter           c   dowling
2              beaupre gary       gary         NaN   beaupre
3            shahidi mahnaz     mahnaz         NaN   shahidi
4           akin faith wurm      faith        wurm      akin
5           borst stephen e    stephen           e     borst

In [33]:
names = 'dowling peter c'

In [34]:
names.split(' ')

['dowling', 'peter', 'c']

We will add one more thing: **phonetic processing**.

Sometimes, words or names are recorded differently because they are written down as they sound. This can result in failed matches, because the same organization or individual will technically have different written names, even though the names would sound identically when pronounced out loud. To avoid these issues, we will add one more thing: a soundex (a phonetic algorithm for indexing names by sound, as pronounced in English).

The `phonetic()` function is used to convert strings into their corresponding phonetic codes. This is particularly useful when comparing names where different possible spellings make it difficult to find exact matches (e.g. Jillian and Gillian).

Let's add a column called `phonetic_name` to our existing table, which will contain the result of applying a `phonetic` function to the name (the phonetic transcription of the name). We are using a method called NYSIIS - the New York State Identification and Intelligence System phonetic code.

More about this method: https://recordlinkage.readthedocs.io/en/latest/ref-preprocessing.html#phonetic-encoding

In [35]:
patents_2018_inventor["phonetic_first"] = phonetic(patents_2018_inventor["name_first"], method="nysiis")
patents_2018_inventor["phonetic_last"] = phonetic(patents_2018_inventor["name_last"], method="nysiis")
patents_2018_inventor["phonetic_middle"] = phonetic(patents_2018_inventor["name_middle"], method="nysiis")

grants_2015_linkage["phonetic_first"] = phonetic(grants_2015_linkage["name_first"], method="nysiis")
grants_2015_linkage["phonetic_last"] = phonetic(grants_2015_linkage["name_last"], method="nysiis")
grants_2015_linkage["phonetic_middle"] = phonetic(grants_2015_linkage["name_middle"], method="nysiis")

In [36]:
grants_2015_linkage[['name_first','name_middle','name_last','phonetic_first','phonetic_middle','phonetic_last']].head(2)

,name_first,name_middle,name_last,phonetic_first,phonetic_middle,phonetic_last
1,peter,c,dowling,PATAR,C,DAOLANG
2,gary,NaN,beaupre,GARY,NaN,BAPR

### Deterministic Matching

Now we are ready to try the exact matching of the pre-processed fields. Let's do an exact match (merge) on the **first, middle, last name** and examine the results.

In [37]:
# Merge on first, middle, last name
match_name = patents_2018_inventor.merge(grants_2015_linkage,on=['name_first','name_last','name_middle'])

In [38]:
match_name.head()

,patent_number,name_first,name_last,patent_firstnamed_inventor_city,patent_firstnamed_inventor_state,name_middle,phonetic_first_x,phonetic_last_x,phonetic_middle_x,PROJECT_ID,CONTACT_PI_PROJECT_LEADER,OTHER_PIS,ORGANIZATION_CITY,ORGANIZATION_STATE,ORGANIZATION_COUNTRY,phonetic_first_y,phonetic_last_y,phonetic_middle_y
0,9873415,christopher,hill,Chicago,IL,NaN,CRASTAFAR,HAL,NaN,797578,hill christopher,NaN,HOLYOKE,MA,UNITED STATES,CRASTAFAR,HAL,NaN
1,10006226,christopher,hill,New Britain,CT,NaN,CRASTAFAR,HAL,NaN,797578,hill christopher,NaN,HOLYOKE,MA,UNITED STATES,CRASTAFAR,HAL,NaN
2,9854752,michael,desantis,Cooper City,FL,NaN,MACAL,DASANT,NaN,731789,desantis michael,NaN,ANN ARBOR,MI,UNITED STATES,MACAL,DASANT,NaN
3,9862941,abraham,lee,Irvine,CA,p,ABRAHAN,LY,P,795978,lee abraham p,"WANG, JEFF",IRVINE,CA,UNITED STATES,ABRAHAN,LY,P
4,9896725,abraham,lee,Irvine,CA,p,ABRAHAN,LY,P,795978,lee abraham p,"WANG, JEFF",IRVINE,CA,UNITED STATES,ABRAHAN,LY,P

How many matches did we get?

In [39]:
# Check by the number of unique PI names with .nunique() function
match_name['CONTACT_PI_PROJECT_LEADER'].nunique()

2130

It looks like we have Christopher Hill from Chicago, IL (patent city and state) who matched Christopher Hill from Holyoke, MA - could this be the same person? (Remember there is a time lag) Would we include this as a good match in our results?

What if we blocked by state?

In [40]:
# Rename columns in both datasets to "state"
patents_2018_inventor = patents_2018_inventor.rename(columns={'patent_firstnamed_inventor_state':'state'})
grants_2015_linkage = grants_2015_linkage.rename(columns={'ORGANIZATION_STATE':'state'})

Merge on **first, middle, last name, and state**.

In [41]:
match_name_state = patents_2018_inventor.merge(grants_2015_linkage,on=['name_first','name_last','name_middle','state'])

In [42]:
match_name_state.head()

,patent_number,name_first,name_last,patent_firstnamed_inventor_city,state,name_middle,phonetic_first_x,phonetic_last_x,phonetic_middle_x,PROJECT_ID,CONTACT_PI_PROJECT_LEADER,OTHER_PIS,ORGANIZATION_CITY,ORGANIZATION_COUNTRY,phonetic_first_y,phonetic_last_y,phonetic_middle_y
0,9862941,abraham,lee,Irvine,CA,p,ABRAHAN,LY,P,795978,lee abraham p,"WANG, JEFF",IRVINE,UNITED STATES,ABRAHAN,LY,P
1,9896725,abraham,lee,Irvine,CA,p,ABRAHAN,LY,P,795978,lee abraham p,"WANG, JEFF",IRVINE,UNITED STATES,ABRAHAN,LY,P
2,10081017,abraham,lee,Irvine,CA,p,ABRAHAN,LY,P,795978,lee abraham p,"WANG, JEFF",IRVINE,UNITED STATES,ABRAHAN,LY,P
3,9856536,nima,sharifi,Shaker Heights,OH,NaN,NAN,SARAF,NaN,732042,sharifi nima,NaN,CLEVELAND,UNITED STATES,NAN,SARAF,NaN
4,9856536,nima,sharifi,Shaker Heights,OH,NaN,NAN,SARAF,NaN,739416,sharifi nima,NaN,CLEVELAND,UNITED STATES,NAN,SARAF,NaN

How many matches did we get now?

In [43]:
match_name_state['CONTACT_PI_PROJECT_LEADER'].nunique()

1438

Now we get Abraham Lee from Irvine, CA in both patent and grant data, and Nima Sharifi from Shaker Heights, OH (patent data) and Cleveland, OH (grant data). Should we try also blocking by city, and see how many results we will get?

Let's try blocking by **first, middle, last name, state, and city**.

In [44]:
# Before we block by city, let's check the formatting in both datasets
patents_2018_inventor['patent_firstnamed_inventor_city'].tail(1)

134809    Portland
Name: patent_firstnamed_inventor_city, dtype: object

In [45]:
grants_2015_linkage['ORGANIZATION_CITY'].tail(1)

92312    CONWAY
Name: ORGANIZATION_CITY, dtype: object

In [46]:
# We can uppercase the city name
patents_2018_inventor['patent_firstnamed_inventor_city'] = patents_2018_inventor['patent_firstnamed_inventor_city'].str.upper()

In [47]:
# Rename the column names so they match in both datasets
patents_2018_inventor = patents_2018_inventor.rename(columns={'patent_firstnamed_inventor_city':'city'})
grants_2015_linkage = grants_2015_linkage.rename(columns={'ORGANIZATION_CITY':'city'})

In [48]:
match_name_city_state = patents_2018_inventor.merge(grants_2015_linkage, on=['name_first','name_last','name_middle','state','city'])

How many matches do we get now?

In [49]:
match_name_city_state['CONTACT_PI_PROJECT_LEADER'].nunique()

705

You can try other ways of matching, for example, including **phonetic first, middle, last name**.

In [50]:
# Merge on phonetic first, middle, last name
match_name_phonetic = patents_2018_inventor.merge(grants_2015_linkage,on=['phonetic_first','phonetic_last','phonetic_middle'])

In [51]:
# Let's check the count of unique PI names
match_name_phonetic['CONTACT_PI_PROJECT_LEADER'].nunique()

3952

You can broaden your links and only merge on **first and last name**.

In [52]:
match_name_first_last = patents_2018_inventor.merge(grants_2015_linkage,on=['name_first','name_last'])

In [53]:
# Check the counts
match_name_first_last['CONTACT_PI_PROJECT_LEADER'].nunique()

5490

You can also try merging on **phonetic first and last name**.

In [54]:
match_name_phonetic = patents_2018_inventor.merge(grants_2015_linkage,on=['phonetic_first','phonetic_last'])

In [55]:
# Check the counts
match_name_phonetic['CONTACT_PI_PROJECT_LEADER'].nunique()

11316

As you have seen, there are many ways to perform record linkage, and we just showed some examples. How would you go about doing the record linkage for patents in your project?

# Checkpoint (Assignment 2 (part two), due February 22nd)
You can submit either Assignment 2 (part one) Federal Reporter notebook or Assignment 2 (part two) PatentsView notebook - choose one.

### 1. How many patents are there in your field of interest? Who are the five most frequent inventors and what are the five biggest institutions?

### 2. Please describe how you did the record linkage (years of data that you used for matching, preprocessing, etc.). How would you describe the quality of the match and what are the caveats?

The checkpoints are there to help you move forward with your final projects - do the type of record linkage in this checkpoint that makes sense for your project. E.g. you don't have to do individual-level links if organization-level links make more sense for your project. Or, as another example, you  can  take into account the time lag, choose relevant grant/patent years, and subset by patent abstract/title, if it makes more sense for your project, or subset by organization name (remember that there can be multiple name variations for the same organization). There are multiple record linkage methods; whichever method you choose, please describe why you chose a certain way and whether your results have any caveats.